<div class="full-page">
  <div class="filters-container">
    <form action="/movies" method="get">
      <select name="sort_by" id="sort_by">
        <option value="rating_desc">Rating (Highest First)</option>
        <option value="rating_asc">Rating (Lowest First)</option>
      </select>
      <input type="text" name="keywords" id="keywords">
      <select name="genre" id="genre">
        <option value="">All Genres</option>
        <% Genre.all.each do |genre| %>
          <option value="<%= genre.name %>"><%= genre.name %></option>
        <% end %>
      </select>
      <input type="submit" value="Filter">
    </form>
  </div>
  <div class="movie-container">

  <% @movies.each do |movie| %>
    <%= link_to movie_path(movie) do %>
      <div class="movie-box">
        <%= image_tag movie.poster_url, class: "movie-poster" %>
        <div class="movie-title"><%= movie.title %></div>
        <div class="movie-rating">
          <% 10.times do |i| %>
            <% if i < movie.rating %>
              <i class="fas fa-star"></i>
            <% else %>
              <i class="far fa-star"></i>
            <% end %>
          <% end %>
        </div>
        <div class="movie-overview">
          <p><strong>Actors:</strong> <%= movie.actors %></p>
          <p><%= movie.overview %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

</div>
